.currencyLabel{
    font-size: 25px;
    font-weight: 500;
    //text-align: left;
}

.convertedRate{
    font-size: 15px;
    font-weight: 500;
    text-align: right;
}

.translatedRate{
    font-size: 12px;
    font-weight: 200;
    text-align: left;
}